.carousel-item img{
    width: 100%;
    height: 95vh;
}
.imgagess::before {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgb(0 0 0 / 55%);
}
.all-bottom-margin{
    margin-bottom: 120px;
}
.radiou-imgg{
    border-radius: 20px;
}
.imagessss {
    width: 213px;
    height: 200px;
}
.working-bg img{
    width: 100%;
}
.expolre-css{
    background-color: #E3F2FD;
}